{% load static %}

body {
  background: #fefefe;
/*  background: darkorchid;*/
  color: #333333;
  margin-top: 5rem;
/*  background: url("/static/board/media/trees.jpg");*/
}
/*
h1 {
  color:  #5d8aa8;
}
*/


h1, h2, h3, h4, h5, h6, {
  color: #5d8aa8;
}

.home_main_header{
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
}

/*.bg-steel {
  background-color: #5f788a;
}*/

.bg-steel {
  background-color: #214F66;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
/*  color: black;*/
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.heading {
  border:  none;
}

.hoverwhite:hover{
  color: white;
}

.content-section {
  width: 90%;
  background: #ffffff;
/*  border: 1px solid #dddddd;*/
  padding: 3px 3px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*article.content-section:hover{
  background-color: lightgray;
}*/

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: black;
  text-decoration: none;
}

.article-content {
/*  white-space: pre-line;*/
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
}*/

tr.table_items:hover {
  background-color: #5d8aa8;
  color: white;
}
td a { 
   display: block;
   color:  #3f3f3f;
  font-family: arial, sans-serif;
}

td a:hover{
  color: #3f3f3f;
}

img.icon {
  height: 20px;
  width: auto;
  opacity: 0.85;
}

.fakebutton:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.head-Serviceable{
  background-color: #2F7395;
  border: solid 1px black;
  color: white;
}

.head-Unserviceable{
  /* background-color: #96E9B4; */
  background-color: #FFA500;
  border: solid 1px black;
  color: white;
}

.head-Deployed{
  background-color: #60047A;
  border: solid 1px black;
  color: white;
}

.head-Build{
  background-color: #00847E;
  border: solid 1px black;
  color: white;
}

.head-diary{
  background-color: #2F7395;
  border: solid 1px black;
  color: white;
}
