{% load static %}

<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css"	href="{% static 'board/main.css' %}">

<!-- 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

<!-- 	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Dashboard</title>
	{% endif %}

</head>
<body>  
	<header>
		<nav class="navbar  navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
			    <a class="navbar-brand" href="#">Deployable Server Status Dashboard</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarText">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link hoverwhite" aria-current="page" href="{% url 'board-home' %}">DSS</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link hoverwhite" href="{% url 'diary' %}">Diary</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link hoverwhite" href="#">Handover</a>
			        </li>
			      </ul>
			      <span class="navbar-text">
			        {% if user.is_authenticated %}
			      	<a class="nav-item" href="{% url 'logout' %}" style="text-decoration: none;">Logout</a>
			      	<a class="nav-item" href="http://localhost:8000/admin" style="text-decoration: none; padding-left: 10px;">Admin</a>
			      	{% else %}
			      	<a class="nav-item" href="{% url 'login' %}" style="text-decoration: none;">Login</a>
			      	{% endif %}
			      </span>
			    </div>
			</div>
		</nav>
	</header>
	
	<main role="main" class="container container-img">
	  <div class="row">
	    <div class="col-md-12">
	      {% if messages %}
	      	{% for message in messages %}
	      		<div class="alert alert-{{ message.tags }}">
	      			{{ message }}
	      		</div>
	      	{% endfor%}
	      {% endif %}
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</main>
	
<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>




<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

	<SCRIPT>
	function ShowAndHide() {
    	var x = document.getElementById('comments');
    	if (x.style.display == 'none') {
    	    x.style.display = 'block';
    	} else {
    	    x.style.display = 'none';
    	}
	}
	</SCRIPT>

</body>
</html>