{% extends "board/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-5">
			<div class='content-section'>
				<form method='POST'>
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Update</legend>
						{{ form|crispy }}
					</fieldset>
					<div class="form-group" style="padding-top: 10px;">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-2">
								<button class="btn btn-outline-dark" type="submit">Update</button>
							</div>
							<div class="col-md-2">
								<button class="btn btn-outline-dark" href="{% url 'board-home' %}">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}